@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: #e2e6e2;
}

/* nav{
    background-color: #009371;
} */

.nav_items{
    /* font-size: large; */
    @apply px-2 hover:bg-emerald-700 py-4 cursor-pointer text-[14px];
}

.match_menu_container{
    @apply text-[10px] text-[#464646] mb-2;
}

.img2{
    fill: #ffffff;
}
@layer components{
    .news_containers{
        @apply border-t-[1px] border-[#e2e6e2] py-2 text-sm;
    }
}

.news_date{
    @apply text-xs text-[#5e5e5e];
}

footer ul li{
    @apply text-sm mb-3 cursor-pointer hover:underline;
}

footer ul li i{
    @apply text-xs mr-2 w-3 text-center;
}